body {
	font-family:Roboto, sans-serif;
}
.ck-container {
  text-align: center;
}
.ck-content {
	padding:40px;
}
.ck-h1 {
	background-color:#f58025;
	border-bottom:18px solid #ccc;
	color:#fff;
	margin:0;
	padding:18px 40px;
	font-weight:normal;
	font-size:16px;
	text-align:left;
}
.ck-mb20 {
	margin-bottom:20px;
}
.ck-mb10 {
	margin-bottom:10px;
}
.ck-inline {
	display:inline;
}

/* Datatable */
.ck-table-filter {
	width:500px;
}
.ck-input-text.ck-table-filter-input {
	width:330px !important;
}
.ck-input-text.ck-table-filter-input
input[type=text] {
	border-top-right-radius:0 !important;
	border-bottom-right-radius:0 !important;
}
.ck-btn-table-filter-search {
	min-width:44px !important;
	position:relative;
	left:15px;
	border:1px solid #216fb5;
	border-top-right-radius:5px !important;
	border-bottom-right-radius:5px !important;
}
th {
	background-color:#666 !important;
	color:#fff !important;
	font-weight:normal !important;
	height: auto !important;
}
.ck-responsive-th {
	display:none;
}
.public_fixedDataTable_header,
.public_fixedDataTable_header
.public_fixedDataTableCell_main {
	background-image:none !important;
	background-color:#666 !important;
	color:#fff !important;
	font-weight:normal !important;
	font-size:12px !important;
}
.public_fixedDataTable_header
.public_fixedDataTableCell_cellContent a {
	cursor:pointer;
}
.public_fixedDataTableCell_cellContent {
	font-size:12px;
}
/* Responsive */
/*.public_fixedDataTable_main,
.public_fixedDataTableCell_main,
.fixedDataTableLayout_hasBottomBorder {
	border:none !important;
}
.public_fixedDataTableCell_main {
	text-align:right !important;
}
.public_fixedDataTable_header {
	display:none;
}
.fixedDataTableCellLayout_main,
.fixedDataTableCellLayout_wrap1 {
	width:100% !important;
}
.ck-responsive-th {
	text-transform:capitalize;
	float:left;
	display:inline-block;
}
.fixedDataTableRowLayout_rowWrapper {
	height:auto !important;
	position:relative;
}
.fixedDataTableCellLayout_main.public_fixedDataTableCell_main {
	position:relative !important;
	left:0 !important;
}*/
/* */

/* Form Styles */
.ck-dialog-cancel {
	position: absolute !important;
	top:5px;
	right:10px;
	min-width:40px !important;
}
.ck-btn-dialog button,
.ck-btn-dialog button div {
	height: 38px !important;
	line-height: 34px !important;
}
h3 {
	border-bottom:0 !important;
}
.ck-dialog-header {
	background-color:#216fb5;
	margin-bottom:20px;
	color:#fff !important;
}
.ck-form-contacts {
	padding-top:35px;
}
.ck-overflow-y-scroll {
	overflow-y:scroll !important;
}
.ck-clear-uppercase span {
	text-transform: none !important;
}
.ck-row {
	width:100%;
}
.ck-row-half {
	display:inline-block;
	width:50%;
	text-align:center;
}
.ck-align-left {
	text-align:left;
}
.ck-align-right {
	text-align:right;
}
.ck-right {
	float:right;
}
.ck-input-text {
	width:95% !important;
	overflow:visible;
}
.ck-input-textarea {
	margin-left:10px;
	width:97% !important;
}
.ck-input-text
input[type=text],
.ck-input-text
textarea {
	border:1px solid #666 !important;
	border-radius: 5px;
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.ck-input-text
input[type=text] {
	height:35px !important;
}
.ck-input-text
textarea {
	min-height: 35px !important;
	width:100%;
}
.ck-input-text
label {
	top:14px !important;
	font-size: 18px;
}
.ck-input-textarea
label {
	top:34px !important;
}
.ck-form-contacts
label {
	color:#000 !important;
}
/* */