body {
	font-family:Roboto, sans-serif;
}
.ck-container {
  text-align: center;
}
.ck-content {
	padding:40px;
}
.ck-h1 {
	background-color:#f58025;
	border-bottom:18px solid #ccc;
	color:#fff;
	margin:0;
	padding:18px 40px;
	font-weight:normal;
	font-size:16px;
	text-align:left;
}
.ck-mb20 {
	margin-bottom:20px;
}
.ck-mb10 {
	margin-bottom:10px;
}
.ck-inline {
	display:inline;
}
.ck-border-top-gray {
	border-top:1px solid #e7e7e7;
}

/* Datatable */
.ck-table-filter {
	width:500px;
}
.ck-input-text.ck-table-filter-input {
	width:330px !important;
}
.ck-input-text.ck-table-filter-input
input[type=text] {
	border-top-right-radius:0 !important;
	border-bottom-right-radius:0 !important;
}
.ck-btn-table-filter-search {
	min-width:44px !important;
	position:relative;
	left:15px;
	border:1px solid #216fb5;
	border-top-right-radius:5px !important;
	border-bottom-right-radius:5px !important;
}
th {
	background-color:#666 !important;
	color:#fff !important;
	font-weight:normal !important;
	height: auto !important;
}
.ck-responsive-th {
	display:none;
}
.public_fixedDataTable_header,
.public_fixedDataTable_header
.public_fixedDataTableCell_main {
	background-image:none !important;
	background-color:#666 !important;
	color:#fff !important;
	font-weight:normal !important;
	font-size:12px !important;
}
.public_fixedDataTable_header
.public_fixedDataTableCell_cellContent a {
	cursor:pointer;
}
.public_fixedDataTableCell_cellContent {
	font-size:12px;
}

/* Form Styles */
.ck-dialog-cancel {
	position: absolute !important;
	top:5px;
	right:10px;
	min-width:40px !important;
}
.ck-dialog-save {
	position:absolute !important;
	bottom:-3px;
	right:0;
}
.ck-btn-dialog button,
.ck-btn-dialog button div {
	height: 38px !important;
	line-height: 34px !important;
}
h3 {
	border-bottom:0 !important;
}
.ck-dialog-header {
	background-color:#216fb5;
	margin-bottom:20px;
	color:#fff !important;
}
.ck-form-contacts {
	position:relative;
	padding-top:20px;
	padding-bottom:45px;
}
.ck-overflow-y-scroll {
	overflow-y:scroll !important;
}
.ck-clear-uppercase span {
	text-transform: none !important;
}
.ck-row {
	width:100%;
}
.ck-row-half {
	display:inline-block;
	width:50%;
	text-align:center;
}
.ck-align-left {
	text-align:left;
}
.ck-align-right {
	text-align:right;
}
.ck-right {
	float:right;
}
.ck-left {
	float:left;
}
.ck-input-text {
	width:95% !important;
	overflow:visible;
	padding-bottom:0 !important;
}
.ck-input-textarea {
	margin-left:10px;
	margin-top:20px !important;
	width:97% !important;
	height: auto !important;
	min-height:85px;
	margin-bottom:10px;
}
.ck-input-text
input[type=text],
.ck-input-text
textarea {
	border:1px solid #666 !important;
	border-radius: 5px;
	padding-left: 5px !important;
	padding-right: 5px !important;
	position:relative;
	z-index:1;
}
.ck-input-text
input[type=text] {
	height:35px !important;
	margin-top:15px !important;
}
.ck-input-text
textarea {
	min-height: 35px !important;
	margin-top:0 !important;
	width:100%;
}
.ck-table-filter-input
input[type=text] {
	margin-top:0 !important;
}
.ck-input-text
label {
	top:19px !important;
	font-size: 18px;
}
.ck-input-textarea
label {
	top:5px !important;
}
.ck-form-contacts
label {
	color:#000 !important;
}
/* */


/* Responsive - Tablet */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	.ck-row-60-tablet {
		width:60%;
	}
	.ck-row-40-tablet {
		width:40% !important;
	}
}
@media only screen and (min-width : 320px) and (max-width : 1024px) {
	body {
		overflow-x:hidden;
	}
	.ck-dialog-content {
		width:85% !important;
	}
	.ck-content {
		padding:20px 0 !important;
		text-align:center;
	}
	.ck-table-filter {
		padding-left:20px;
		display:none !important;
	}
	.ck-btn-contacts-keeper {
		padding-right:20px;
		display:none !important;

	}
	/* Table */
	.public_fixedDataTable_main {
		display:inline-block !important;
	}
	.public_fixedDataTable_main,
	.public_fixedDataTableCell_main,
	.fixedDataTableLayout_hasBottomBorder {
		border:none !important;
		margin:0 !important;
	}
	.public_fixedDataTableCell_main {
		text-align:right !important;
	}
	.public_fixedDataTable_header,
	.fixedDataTableCellGroupLayout_cellGroup,
	.ScrollbarLayout_mainVertical,
	.fixedDataTableLayout_horizontalScrollbar,
	.fixedDataTableLayout_bottomShadow,
	.fixedDataTableLayout_topShadow {
		display:none !important;
	}
	.fixedDataTableCellLayout_main,
	.fixedDataTableCellLayout_wrap1,
	.fixedDataTableCellLayout_wrap2,
	.fixedDataTableCellLayout_wrap3,
	.fixedDataTableCellGroupLayout_cellGroupWrapper {
		width:93vw !important;
	}
	.ck-responsive-th {
		text-transform:capitalize;
		float:left;
		display:inline-block;
	}
	.fixedDataTableRowLayout_rowWrapper {
		height:auto !important;
		position:relative;
	}
	.fixedDataTableCellLayout_main.public_fixedDataTableCell_main {
		position:relative !important;
		left:0 !important;
	}
	.fixedDataTableLayout_main,
	.fixedDataTableRowLayout_main,
	.fixedDataTableLayout_rowsContainer,
	.fixedDataTableRowLayout_rowWrapper {
		width:96vw !important;
		display: block;
	}
	.fixedDataTableRowLayout_body,
	.fixedDataTableCellGroupLayout_cellGroupWrapper {
		position:relative !important;
	}
	.fixedDataTableRowLayout_main,
	.fixedDataTableCellLayout_main,
	.fixedDataTableCellLayout_wrap1,
	.fixedDataTableRowLayout_body,
	.fixedDataTableCellGroupLayout_cellGroupWrapper,
	.fixedDataTableCellGroupLayout_cellGroup {
		height: auto !important;
		min-height:45px;
	}
	.fixedDataTableRowLayout_main,
	.public_fixedDataTable_main,
	.fixedDataTableLayout_rowsContainer {
		overflow:visible !important;
		position:relative !important;
	}
	.public_fixedDataTable_main,
	.fixedDataTableLayout_rowsContainer {
		position:relative !important;
		height:auto !important;
		min-height:100vh;
	}
	.fixedDataTableCellGroupLayout_cellGroup,
	.fixedDataTableCellGroupLayout_cellGroup > .public_fixedDataTableCell_main {
		display:block !important;
	}
	.fixedDataTableRowLayout_rowWrapper,
	.fixedDataTableCellGroupLayout_cellGroup {
		position:relative !important;
	}
	.fixedDataTableCellGroupLayout_cellGroupWrapper,
	.fixedDataTableCellGroupLayout_cellGroup {
		min-height:0 !important;
	}
	.fixedDataTableRowLayout_body {
		padding:0 10px;
	}
	.fixedDataTableCellGroupLayout_cellGroup {
		width:94vw !important;
	}
	.fixedDataTableCellGroupLayout_cellGroup {
		transform: none !important;
	}
}
/* */

/* Responsive - Mobile */
@media only screen and (max-width : 767px) {
	.ck-align-center-mobile {
		text-align:center;
	}
	.ck-align-right-mobile {
		text-align:right;
	}
	.ck-content {
		padding:20px;
	}
	.ck-h1 {
		padding-top:25px;
		padding-bottom:25px;
	}
	.ck-btn-dialog {
		margin:0 auto;
	}
	.ck-table-filter {
		width:100%;
	}
	.ck-input-text.ck-table-filter-input {
		width:75% !important;
	}
	.ck-table-filter-input div:first-child {
		white-space:nowrap;
		max-width:95%;
		overflow:hidden;
	}
	.ck-dialog-content {
		width:95% !important;
	}
	.ck-row-half {
		width:100%;
	}
	.ck-dialog-save {
		bottom:0;
	}
	.ck-input-text
	input[type=text] {
		width:98% !important;
	}
	.ck-btn-table-filter-search {
		left:0px;
	}
	.ck-mb20-mobile {
		margin-bottom:20px;
	}
}
/* */